@model WardrobeApplication.Models.Bottom

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bottoms</h4>
    <hr />
</div>

<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="caption">
            <h3>@Html.DisplayFor(modelItem => Model.Description)</h3>
            <p><strong>Color: </strong> @Html.DisplayFor(modelItem => Model.Color)</p>
            <p><strong>Season: </strong> @Html.DisplayFor(modelItem => Model.Season)</p>
            <p><strong>Occasion: </strong> @Html.DisplayFor(modelItem => Model.Occasion)</p>
            <p>@Html.DisplayFor(modelItem => Model.Photo)</p>

        </div>
    </div>
</div>


@*<div>
    <h4>Bottom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occasion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occasion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BottomID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
